@media screen and (max-width: 500px) {
  form[name="customer-form"] {
    label {
      color: black;
      pointer-events: none;
      width: 11rem;
      position: absolute;
      top: 0;
      left: 0;
    }

    margin: 0;
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}

form[name="customer-form"] {
  font-family: "Rubik", sans-serif;
  background-color: $matterhorn;
  display: grid;

  label {
    font-family: "Rubik", sans-serif;
    color: black;
    pointer-events: none;
    width: 11rem;
    position: absolute;
    top: 0;
    left: 10.4rem;
  }

  button {
    width: 6em;
    color: $ivory;
    border-radius: 10px;
    margin: auto;
    display: block;
    margin: 0em auto;
    background-color: green;
  }

  button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  input {
    border-radius: 6px;
  }

  input:invalid:not(:placeholder-shown):not(:focus) {
    border-color: red;
    background-position-x: calc(100% - 16px);
    background-position-y: 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: red;
    //background-image: $error;
    animation: shake 0.13s 2 backwards;
  }

  input:valid:not(:focus) {
    border-color: green;
    background-position-x: calc(100% - 16px);
    background-position-y: 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: green;
    //background-image: $check;
  }

  @keyframes shake {
    50% {
      transform: translateX(15px);
    }
  }

  .instruction-firstname,
  .instruction-lastname,
  .instruction-username,
  .instruction-password,
  .instruction-passwordconfirm,
  .instruction-adress,
  .instruction-zipcode,
  .instruction-city,
  .instruction-email,
  .instruction-number {
    transition: 0.3s;
    opacity: 0;
    color: red;
    padding: 6px;
    justify-self: center;
    padding-bottom: 2rem;
    grid-row: 2/3;
  }

  input[name="firstname"]:invalid:not(:placeholder-shown):not(:focus)
    ~ .instruction-firstname {
    opacity: 1;
  }

  input[name="lastname"]:invalid:not(:placeholder-shown):not(:focus)
    ~ .instruction-lastname {
    opacity: 1;
  }

  input[name="username"]:invalid:not(:placeholder-shown):not(:focus)
    ~ .instruction-username {
    opacity: 1;
  }

  input[name="password"]:invalid:not(:placeholder-shown):not(:focus)
    ~ .instruction-password {
    opacity: 1;
  }

  input[name="passwordconfirm"]:invalid:not(:placeholder-shown):not(:focus)
    ~ .instruction-passwordconfirm {
    opacity: 1;
  }

  input[name="adress"]:invalid:not(:placeholder-shown):not(:focus)
    ~ .instruction-adress {
    opacity: 1;
  }

  input[name="zipcode"]:invalid:not(:placeholder-shown):not(:focus)
    ~ .instruction-zipcode {
    opacity: 1;
  }

  input[name="city"]:invalid:not(:placeholder-shown):not(:focus)
    ~ .instruction-city {
    opacity: 1;
  }

  input[name="email"]:invalid:not(:placeholder-shown):not(:focus)
    ~ .instruction-email {
    opacity: 1;
  }
  input[name="phone"]:invalid:not(:placeholder-shown):not(:focus)
    ~ .instruction-number {
    opacity: 1;
  }
}

.form-field {
  width: 20rem;

  justify-self: center;
}
form {
  justify-self: center;
  padding-top: 2rem;
  width: 100vw;
  align-content: center;
  justify-content: center;
  padding: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.label-beholder {
  position: relative;

  display: grid;
}

@media only screen and (min-width: 1100px) {
  form {
    justify-self: center;
    padding-top: 2rem;
    width: 70vw;
    align-content: center;
    justify-content: center;
    padding: 4rem;
    margin-left: auto;
    margin-right: auto;
  }
}
