.inputcontainer .invalid_state {
  top: -12px;
  left: 0;
  color: black;
  font-size: 12px;
  font-weight: bold;
}

.greenbutton {
  background-color: #1a501c;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.greenbutton:hover {
  background-color: #319134;
  transition: 0.3s;
  transform: scale(1.02);
  box-shadow: 0px 0px 6px 3px #ffffff2f;
}

#signup {
  margin: 20px;
  padding: 40px;
  max-width: 700px;
  background-color: #5c4d4e;
  border: 1px solid black;
  border-radius: 6px;

  input {
    padding: 10px 0;
    margin-bottom: 30px;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    background-color: #5c4d4e;
    color: white;
  }

  button {
    cursor: pointer;
  }

  input[type="submit"] {
    border-bottom: none;
    cursor: pointer;
    margin-bottom: 0;
  }

  input:focus ~ label,
  input:valid ~ label {
    top: -12px;
    left: 0;
    color: black;
    font-size: 12px;
    font-weight: bold;
  }
}

// label

.inputcontainer {
  display: grid;
  grid-template-rows: auto auto auto;

  display: flex;
  flex-direction: column;
  position: relative;

  label {
    position: absolute;
    top: 10px;
    left: 0;
    pointer-events: none;
    color: white;
    transition: 0.3s;
  }

  .help-text {
    font-size: 10px;
    color: #e43030;
    margin: -15px 0 25px 0;
  }
}

// input:valid + .help-text,
input:focus + .help-text {
  margin-bottom: 30px;
}

// input[name="firstname"]:focus:invalid + .help-text::before {
//   content: "You must enter only your first name";
// }

// input[name="lastname"]:focus:invalid + .help-text::before {
//   content: "You must enter only your last name";
// }

// input[name="username"]:focus:invalid + .help-text::before {
//   content: "You must submit an available username (1-15 characters)";
// }

// input[name="password"]:focus:invalid + .help-text::before {
//   content: "Password must be 6-12 characters with at least one letter and one number - no special characters allowed";
// }

// input[name="passwordconfirm"]:focus:invalid + .help-text::before {
//   content: "Passwords must match";
// }

// input[name="email"]:focus:invalid + .help-text::before {
//   content: "You must enter a valid email (x@x.x)";
// }

// input[name="adress"]:focus:invalid + .help-text::before {
//   content: "Please write an existing address (street name + house number)";
// }

// input[name="zipcode"]:focus:invalid + .help-text::before {
//   content: "You must enter a zipcode (4 numbers)";
// }

// input[name="city"]:focus:invalid + .help-text::before {
//   content: "You must enter a city (no numbers allowed)";
// }

// input[name="phone"]:focus:invalid + .help-text::before {
//   content: "You must enter a phone number (8 numbers)";
// }

input[name="firstname"] + .help-text::before {
  content: "You must enter only your first name";
}

input[name="lastname"] + .help-text::before {
  content: "You must enter only your last name";
}

input[name="username"] + .help-text::before {
  content: "You must submit an available username (1-15 characters)";
}

input[name="password"] + .help-text::before {
  content: "Password must be 6-12 characters with at least one letter and one number - no special characters allowed";
}

input[name="passwordconfirm"] + .help-text::before {
  content: "Passwords must match";
}

input[name="email"] + .help-text::before {
  content: "You must enter a valid email (x@x.x)";
}

input[name="adress"] + .help-text::before {
  content: "Please write an existing address (street name + house number)";
}

input[name="zipcode"] + .help-text::before {
  content: "You must enter a zipcode (4 numbers)";
}

input[name="city"] + .help-text::before {
  content: "You must enter a city (no numbers allowed)";
}

input[name="phone"] + .help-text::before {
  content: "You must enter a phone number (8 numbers)";
}

.hide_help {
  display: none;
}

@media screen and (min-width: 700px) {
  #signup {
    margin: 10px auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;

    button {
      width: 200px;
      grid-row: 2/3;
      grid-column: 1/3;
      justify-self: center;
      cursor: pointer;
    }

    > div {
      margin: 20px;
    }
  }
}
