/*Mobile media query */

#label-container {
  position: relative;
}
#label-container label {
  position: absolute;
  top: 2rem;
  left: 44vw;
  right: 50vw;
}
@media only screen and (max-width: 400px) {
  #label-container label {
    left: 37vw;
  }
}

input:not(:placeholder-shown) + #label-container label {
  transform: translatey(-2rem);
  opacity: 1;
  color: $ivory;
}
input:focus + #label-container label {
  transform: translatey(-2rem);
  opacity: 1;
  color: $ivory;
}

#lumberjack-svg {
  background-image: url(/static/svg/lumberjack.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1;
  width: 43vw;
  height: 46.5vw;
  right: 0vw;
  bottom: 0vw;
  pointer-events: none;
}

#trees-svg {
  background-image: url(/static/svg/trees.svg);

  position: absolute;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
  width: 60vw;

  left: 0vw;
  bottom: 0vw;
}

#info-box {
  background-color: $matterhorn;
  border-radius: 10px;
  margin: 2em 1em;

  div {
    padding: 1.5em 1em;
  }

  #container {
    position: relative;
  }

  h1,
  h2,
  p {
    color: $ivory;
  }

  h1,
  h2 {
    text-align: center;
  }

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    padding: 1.5em 2em;
    font-size: 1em;
  }

  input {
    width: 15em;
    height: 2.5em;
    background-color: $ivory;
    border-radius: 5px;
    border: 2px solid $valencia;
    margin: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
  }

  input:invalid:not(:placeholder-shown):not(:focus) {
    border-color: red;
    background-position-x: calc(100% - 16px);
    background-position-y: 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: red;
    background-image: $error;
    animation: shake 0.13s 2 backwards;
  }

  .instruction-firstname {
    transition: 0.6s;
    color: red;
    padding: 8px;
    background-color: $ivory;
    opacity: 0;
  }

  input:invalid:not(:placeholder-shown):not(:focus) ~ .instruction-firstname {
    opacity: 1;
  }

  input:valid:not(:focus) {
    color: green;
    border-color: green;
    background-position-x: calc(100% - 16px);
    background-position-y: 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color: green;
    background-image: $check;
  }

  input:valid:not(:focus) ~ .opacity {
    opacity: 0;
  }

  @keyframes shake {
    50% {
      transform: translateX(15px);
    }
  }

  button {
    width: 6em;
    color: $ivory;
    border-radius: 10px;
    margin: auto;
    display: block;
    margin: 10px auto 10px auto;
    background-color: green;
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.6;
    background-color: $valencia;
  }
}

/*Tablet media query */

@media only screen and (min-width: 881px) and (orientation: landscape) {
  #trees-svg {
    width: 77vw;
    height: 54.5vw;
    left: -21vw;
  }

  #lumberjack-svg {
    bottom: 0vw;
    height: 42vw;
    width: 41vw;
  }

  #info-box {
    margin: 0em 3em;
    height: 100vh;
    z-index: 1;

    div {
      padding: 0.5em 3em;
    }

    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.2em;
    }
    p {
      padding: 0.5em 2em 2em 2em;
      font-size: 30px;
    }

    input {
      font-size: 1em;
    }
  }
  #label-container label {
    position: absolute;
    top: 1rem;
    left: 21rem;
  }

  #lumberjack-svg {
    width: 43vw;
    height: 47vw;
    right: 0vw;
    bottom: 0vw;
    max-width: 500px;
    z-index: -1;
  }

  #trees-svg {
    width: 89vw;
    height: 66vw;
    left: -17vw;
    bottom: 0vw;
  }

  #info-box {
    width: 50em;
    height: 35em;
    margin: 2em 5em;

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2.5em;
    }

    p {
      font-size: 1.3em;
    }
    #lumberjack-svg {
      width: 50vw;
      height: 80vw;
      right: -5vw;
      bottom: 15vw;
    }

    #trees-svg {
      width: 100vw;
      height: 100vw;
      left: -6vw;
      bottom: 15vw;
    }

    #info-box {
      margin: 2em 1em;
    }
    #lumberjack-svg {
      width: 43vw;
      height: 47vw;
      right: 0vw;
      bottom: 0vw;
    }

    #trees-svg {
      width: 80vw;
      height: 47vw;
      right: 0vw;
      left: 0;
      top: 0vw;
    }
  }
}

/*Desktop media query */
