@media only screen and (min-width: 700px) {
  body {
    background-color: lightblue;
  }

  #game-background {
    width: 100vw;
    height: 100vh;
    background: url("static/Backgrounds/game-background2.svg") center;
    background-repeat: no-repeat;
  }

  #fugl {
    width: 62.5px;
    height: 95px;
    position: absolute;
    left: -5rem;
    background: url("static/Backgrounds/Fugle_1.svg") left center;
    background-size: cover;
    animation: bird-animation 0.4s steps(4) infinite,
      move-animatiion 14s infinite linear;
  }

  @keyframes bird-animation {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: -497.5px;
    }
  }
  @keyframes move-animatiion {
    50% {
      transform: translateX(110vw) translateY(-50px);
    }
    50% {
      transform: translateX(110vw) translateY(100px);
    }
    100% {
      transform: translateX(110vw) translateY(100px);
    }
  }
  #game-background-mobil {
    display: none;
  }
}

body {
  background: rgb(128, 158, 171);
}

@media only screen and (max-width: 700px) {
  #game-background-mobil {
    display: block;
    width: 100%;
    padding-top: 57%;
    background: url("static/Backgrounds/mobil-background.svg");
    background-repeat: no-repeat;
    width: 100vw;
  }
}
